#include <windows.h>
#include "resource.h"

IDR_MYACCEL ACCELERATORS
BEGIN
    "T", IDM_NEWSTREAM, VIRTKEY, CONTROL
    "W", IDM_CLOSEACTIVE, VIRTKEY, CONTROL
    "Q", IDM_EXIT, VIRTKEY, CONTROL
END

IDR_MYMENU MENU
BEGIN
POPUP "&File"
BEGIN
MENUITEM "&New Stream\tCtrl+T", IDM_NEWSTREAM
MENUITEM "&Close Active Stream\tCtrl+W", IDM_CLOSEACTIVE
MENUITEM "&Close All Streams", IDM_CLOSEALL
MENUITEM SEPARATOR
MENUITEM "E&xit\tCtrl+Q", IDM_EXIT
END
POPUP "&Tools"
BEGIN
MENUITEM "&Settings...", IDM_SETTINGS
END
END

IDD_SETTINGS DIALOG 0, 0, 320, 200
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Settings"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Player Path:", IDC_STATIC, 12, 18, 50, 8
    EDITTEXT        IDC_PLAYERPATH, 70, 16, 180, 14, ES_AUTOHSCROLL
    PUSHBUTTON      "...", IDC_BROWSE_PLAYER, 255, 16, 20, 14
    
    LTEXT           "Player Arguments:", IDC_STATIC, 12, 40, 60, 8
    EDITTEXT        IDC_PLAYERARGS, 70, 38, 180, 14, ES_AUTOHSCROLL
    
    LTEXT           "Streaming Mode:", IDC_STATIC, 12, 62, 60, 8
    COMBOBOX        IDC_STREAMING_MODE, 70, 60, 180, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    
    CONTROL         "Minimize to tray", IDC_MINIMIZETOTRAY, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 85, 70, 10
    CONTROL         "Verbose debug", IDC_VERBOSE_DEBUG, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 105, 70, 10
    CONTROL         "Log to file (debug.log)", IDC_LOG_TO_FILE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 125, 100, 10
    
    DEFPUSHBUTTON   "OK", IDOK, 200, 170, 50, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 260, 170, 50, 14
END