#include "resource.h"

IDR_MYMENU MENU
BEGIN
POPUP "&File"
BEGIN
MENUITEM "&New Stream\tCtrl+T", IDM_NEWSTREAM
MENUITEM "&Close Active Stream\tCtrl+W", IDM_CLOSEACTIVE
MENUITEM "&Close All Streams", IDM_CLOSEALL
MENUITEM SEPARATOR
MENUITEM "Run &Multiple Streams...", IDM_RUNMULTI
MENUITEM SEPARATOR
MENUITEM "E&xit", IDM_EXIT
END
POPUP "&Tools"
BEGIN
MENUITEM "&Settings...", IDM_SETTINGS
END
POPUP "&Help"
BEGIN
MENUITEM "&About...", IDM_ABOUT
END
END